html {
    margin: 1em;
    font-family: 'Inter', sans-serif;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding: 1em 2em;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1;
    }

.header-logo {
    width: 4em;
    }

.header-title {
    color: #61dafb;
    font-size: 2em;
    font-weight: 700;
    }

.header-about {
    font-size: 1.5em;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 25%);
    padding: 1em 2em;
    min-height: 30em;

    background-image: url("./assets/react-logo-background.svg");
    background-repeat: no-repeat;
    background-position: calc(100% + 15em) 75%;
    background-size: 30em;
    background-blend-mode: normal;
}

.main-title {
    font-size: 2.5em;
    font-weight: bold;
}

.main-facts {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.main-facts li {
    margin-block: 1em;
}

.main-facts li::marker {
    color: #61dafb;
    font-size: 1.5em;
}

/* .main-logo {
    position: absolute;
    width: 30em;
    right: -15em;
    top: 10%;
    z-index: 1
} */