@page "/"

@using Blazor.Client.Components
@using static Blazor.Client.Fun

@inherits ViewComponent

<div class="ui">
    <TabsUI ActiveTab="Model.active_tab"
            Dispatch="Dispatch"/>
    @if (Model.active_tab.IsGame)
    {
        <MenuGameUI Model="Model"
                    Dispatch="Dispatch"/>
        <MessageUI Model="Model"/>
    }
    else if (Model.active_tab.IsTrain)
    {
        <TrainUI Model="Model" Dispatch="Dispatch"/>
    }
    else if (Model.active_tab.IsTest)
    {
        <TestUI Model="Model" Dispatch="Dispatch"/>
    }
    else
    {
        throw new Exception("Missing case in tabs.");
    }
</div>

@code
{

    // I need a break.
    // We did the right thing, and are getting punished.
    // While I do not usually condone copy pasting...

    // This is as far from usual as it gets.
    // Blazor's component inheritance is literally broken.

    // ...

    // No, there is no point in looking for work arounds.
    // We'll pasta it.

    // Now, the UI loads, but the tab buttons aren't working.
    // Let's deal with that next.



}