.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0px;
}

.header-item {
    height: 75%;
    align-self: center;
}

.home-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: inherit;
}

.profile-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

.outer-search-bar-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex: 3;
    max-width: 50%;
}

.search-bar-box {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    border: 1px solid;
}

.search-bar {
    font-size: 16px;
    width: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border: none;
    border-right: inherit;
    padding-left: 15px;
}
