@using static Blazor.Client.Fun

<div class="menu-game-ui">
    <MenuUI Model="Model" Dispatch="Dispatch"/>
    <GameUI Model="Model.leduc_model" AllowedActions="Model.allowed_actions" Dispatch="Dispatch"/>
</div>

@code {
    [Parameter] [EditorRequired]
    public required ClientModel Model { get; set; }

    [Parameter] [EditorRequired]
    public required Action<MsgClient> Dispatch { get; set; }
}