@using static Blazor.Client.Fun

@inherits TrainUI_Menu

<div class="train-ui border">

    @Menu()
    <div class="train-chart border">
        <ChartUI/>
    </div>
    <TableUI Model="M.testing_model"
             IsTrain="false"/>
</div>

@code {
    private RenderFragment Menu()
    {
        var m = M;
        return CreateMenu(
            Model.active_cfr_player,
            m.testing_run_iterations,
            m.testing_iterations_left,
            "Testing",
            (x => Dispatch(MsgClient.NewCFRPlayerSelected(x.Value!.ToString()))),
            (_ => Dispatch(MsgClient.TestingStartClicked)),
            (x => Dispatch(MsgClient.NewTestingInputIterationsChanged(x.Value!.ToString())))
            );
    }

}