@* @using static Blazor.Client.Fun *@

@inherits Qwe

@* <div class="train-ui border"> *@
@* *@
@*     $1$ @Menu() #1# *@
@*     <div class="train-chart border"> *@
@*         The chart should go here. *@
@*     </div> *@
@*     $1$ <TableUI Model="M.training_model" #1# *@
@*     $1$          IsTrain="true"/> #1# *@
@* </div> *@

@code {
    // TODO: Don't forget the chart.

    // Let me compile it again, what are those yellow warnings?
    // Let me pause, just why are these warnings occuring?

    // Blazor is doing absolutely everything in its power to try and get me to copy paste that segment.

    // private RenderFragment Menu()
    // {
    //     var m = M;
    //     return CreateMenu(
    //         Model.active_cfr_player,
    //         m.training_run_iterations,
    //         m.training_iterations_left,
    //         "Training",
    //         (x => Dispatch(MsgClient.NewCFRPlayerSelected(x.Value!.ToString()))),
    //         (_ => Dispatch(MsgClient.TrainingStartClicked)),
    //         (x => Dispatch(MsgClient.NewTrainingInputIterationsChanged(x.Value!.ToString())))
    //         );
    // }
}