@using static Blazor.Client.Fun

@inherits TrainUI_Menu

<div class="train-ui border">

    @Menu()
    <div class="train-chart border">
        <ChartUI/>
    </div>
    <TableUI Model="M.training_model"
             IsTrain="true"/>
</div>

@code {
    private RenderFragment Menu()
    {
        var m = M;
        return CreateMenu(
            Model.active_cfr_player,
            m.training_run_iterations,
            m.training_iterations_left,
            "Training",
            (x => Dispatch(MsgClient.NewCFRPlayerSelected(x.Value!.ToString()))),
            (_ => Dispatch(MsgClient.TrainingStartClicked)),
            (x => Dispatch(MsgClient.NewTrainingInputIterationsChanged(x.Value!.ToString())))
            );
    }

}