.button-subscribe {
    background-color: hsla(0, 100%, 60%);
    color: white;
    border: none;
    min-height: 36px;
    padding: 20 20 1 20;
    border-radius: 2px;
    cursor: pointer;
    opacity: 60%;
    transition: opacity 0.15s;
    vertical-align: top;
}

.button-subscribe:hover {
    opacity: 100%;
}

.button-subscribe:active {
    opacity: 60%;
}

.button-join {
    background-color: white;
    color: hsl(202, 100%, 61%);
    border: 1px solid hsl(202, 100%, 61%);
    border-radius: 2px;
    min-height: 36px;
    padding: 1 10;
    cursor: pointer;
    transition: color 0.15s, background-color 0.15s, opacity 0.15s;
}

.button-join:hover {
    background-color: hsl(202, 100%, 61%);
    color: white;
}

.button-join:active {
    opacity: 10%;
}

.button-tweet {
    background-color: hsl(208, 100%, 64%);
    color: white;
    border-width: 0px;
    border-radius: 18px;
    min-height: 36px;
    padding: 1 20;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.15s, box-shadow 0.15s;
}

.button-tweet:hover {
    background-color: hsl(208, 100%, 54%);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.15);
}

.button-tweet:active {
    background-color: hsl(208, 100%, 44%);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
}