.text-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    font-weight: bold;
}

.text-stats {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    color: gray;
    }

.text-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    color: hsl(0, 0%, 10%);
    line-height: 120%;
    }

.text-apple {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    background-color: red;
    color: white;
    padding: 15 20;
    }

.text-apple-link {
    cursor: pointer;
}

.text-apple-link:hover {
    text-decoration: underline;
}