:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
}

.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 100%;
    flex: 1;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 100%;
    flex: 1;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 100%;
    flex: 1;
}

.card {
    display: flex;
    justify-content: center;
    font-size: 2em;
    border: 3px solid;
    padding: 0 0.25ch;
    background-color: burlywood;
    user-select: none;
    width: 1ch;
}

.pot-size {
    font-size: 1.5em;
    border: 3px solid;
    user-select: none;
    padding: 0 0.5ch;
}

.action {
    font-family: inherit;
    font-size: 1em;
}